<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous" />
</head>
<body>
<div align="center">
    <p>&nbsp;</p>
    <h3 th:text="${message}"></h3>
</div>
<p>&nbsp;</p>
<div class="container-fluid text-center">
    <div  class="border border-secondary p-3 rounded" style="max-width: 350px; margin: 0 auto;">
        <p th:text="${customerID}">>  </p>
        <p> <a class="h4" th:href="@{'/accountForm/' + ${customerID}}">Create Bank Account</a> </p>
        <p> <a class="h4" th:href="@{'/checkAccounts/' + ${customerID}}">Check Accounts</a> </p>
        <p> <a class="h4" th:href="@{'/customer/edit/' + ${customerID}}">Edit User Account</a> </p>
    </div>
</div>
</body>
</html>